backend/.env
backend/.venv/*
backend/site-packages/*
backend/site-packages/
backend/site-packages/
backend/__pycache__/*
backend/__pycache__/
backend/__pycache__/
backend/.ssh/*
backend/.ssh/
backend/data/*
backend/data/

frontend/node_modules/*
frontend/.env
frontend/.env.local.example
frontend/.env.local
frontend/.next/
frontend/.next
frontend/node_modules
frontend/out
frontend/.DS_Store

.vscode/
