backend/.env
backend/.venv/*
backend/site-packages/*
backend/site-packages/
backend/site-packages/
backend/__pycache__/*
backend/__pycache__/
backend/__pycache__/
backend/.ssh/*
backend/.ssh/
backend/data/*
backend/data/

frontend/node_modules/*
frontend/.env
frontend/.env.local.example/backend/data/
